<mat-toolbar class="color">
  <mat-toolbar-row>
    <button mat-button><mat-icon>arrow_back</mat-icon></button>
    <span class="menu">Urgence</span>
    <button class="menu" mat-button [matMenuTriggerFor]="menu"><mat-icon class="laptop">phonelink</mat-icon>Menu<span class="material-icons">keyboard_arrow_down</span></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="color2">
  <mat-toolbar-row>
    <span class="menu">gfdgdfgdfgdfg</span>
  </mat-toolbar-row>
</mat-toolbar>


